* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(32, 34, 36);
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
}

.logo {
    display: flex;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
}

.music-container {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin: 10px 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 750px;
    height: auto;
    opacity: 60%;
    z-index: -1;
}

.navigation {
    position: absolute;
}

.action-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: whitesmoke;
    font-size: 40px;
    margin: 0 15px;
    z-index: 1;
}

.action-btn:hover {
    outline: 0;
    cursor: pointer;
}

.action-btn:active {
    font-size: 37px;
}

.music-info{
    background-color: rgba(41, 42, 49, 0.708);
    border-radius: 5%;
    padding: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
}

.music-info h4 {
    color: whitesmoke;
    font-size: 34px;
    margin-bottom: 100px;
}

.progress-container {
    position: inherit;
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    width:  85%;
    bottom: 45px;
}

.progress {
    background-color: rgb(68, 14, 116);
    border-radius: 4px;
    height: 100%;
    width: 0%;
    transition: width 50ms linear;
}